@model NET6CoreWebAppWithbootstrap5.Models.Home.ApplicationSettingsVM
<h2>Application Settings</h2>
<div class="container">
    <div class="row">
        <div class="col">

            @using (Html.BeginForm("ApplicationSettings", "Home", new { }, FormMethod.Post, true, new { @class = "card", enctype = "multipart/form-data" }))
            {
                <div class="card-body">
                    @Html.AntiForgeryToken()

                    @Html.FormControlLabelFor(m=>m.Title)
                    @Html.FormControlTextBoxFor(m=>m.Title)
                    @Html.ValidationMessageFor(m=>m.Title)

                    @Html.FormControlLabelFor(m=>m.Description)
                    @Html.FormControlTextBoxFor(m=>m.Description)
                    @Html.ValidationMessageFor(m=>m.Title)

                    @Html.FormControlLabelFor(m=>m.Theme)
                    @Html.FormControlDropDownListFor(m=>m.Theme, Model.ThemeSelectList)
                    @Html.ValidationMessageFor(m=>m.Title)

                    @Html.FormControlLabelFor(m=>m.DefaultRedirectUrl)
                    @Html.FormControlTextBoxFor(m=>m.DefaultRedirectUrl)
                    @Html.ValidationMessageFor(m=>m.DefaultRedirectUrl)

                    @Html.FormControlLabelFor(m=>m.SsoUrl)
                    @Html.FormControlTextBoxFor(m=>m.SsoUrl)
                    @Html.ValidationMessageFor(m=>m.SsoUrl)

                    @Html.FormControlLabelFor(m=>m.SsO_Header)
                    @Html.FormControlTextBoxFor(m=>m.SsO_Header)
                    @Html.ValidationMessageFor(m=>m.SsO_Header)

                    @Html.FormControlLabelFor(m=>m.ApplicationAPIUrl)
                    @Html.FormControlTextBoxFor(m=>m.ApplicationAPIUrl)
                    @Html.ValidationMessageFor(m=>m.ApplicationAPIUrl)

                    @Html.HiddenFor(m=>m.RequireRegistration)

                    @Html.FormControlLabelFor(m=>m.ApplicationLogo)
                    @Html.FormControlFileFor(m=>m.ApplicationLogo, new{accept="image/*"})
                    @Html.ValidationMessageFor(m=>m.ApplicationLogo)
                </div>
                @if (Model.LogoFileData != null && Model.LogoFileData.Count() > 0)
                {
                    <img src="@(Url.Action("ApplicationLogo"))" alt="Application logo" style="height: 150px; width: 150px; display: block;">
                }
                else
                {
                    <img style="height: 150px; width: 150px; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Application logo">

                }
                <div class="card-body">
                    @Html.SubmitButton("Save", new{@class="btn-primary"})
                </div>



            }
        </div>
    </div>
</div>