@model NET6CoreWebAppWithbootstrap5.Models.Home.SampleDataTableModelVM
@{
    string FormId = Html.UniqueId();
}
<form id="@FormId" class="p-2 d-none">
    @Html.AntiForgeryToken() 
    
    @Html.FormControlLabelFor(m=>m.DropdownValue)
    @Html.FormControlDropDownListFor(m=> m.DropdownValue, Model.SelectList)
    @Html.ValidationMessageFor(m=>m.DropdownValue)
</form>
<div class="row">
    <div class="col">
        @Html.DataTable(vm =>
        {
        vm.Form = $"#{FormId}";
        vm.OptionsUrl = ViewBag.DataTableOptions.DataTableExampleDataOptions;
        vm.AppendForm = true;
        vm.FormPlacement = "offcanvas";
        })
    </div>
</div>
@Html.Button("Serverside Modal", new { id=$"{FormId}ModalButton", @class="btn-primary"})
@Html.Button("Serverside Offcanvas", new { id=$"{FormId}OffcanvasButton", @class="btn-secondary"})

@section Scripts{
    <script type="text/javascript">
        $('#@($"{FormId}ModalButton")').serversideModalButton({
            size: 'lg',
            url: '@(Url.Action("SampleModal"))',
            title: 'Test Server Modal',
            loading: 'Loading Test Server Modal',
            static: true,
            close: true,
            reload: true,
            onLoad: function (modal, el) {
            }
        });
        $('#@($"{FormId}OffcanvasButton")').serversideOffcanvasButton({
            placement: 'top',
            url: '@(Url.Action("SampleModal"))',
            title: 'Test Server Offcanvas',
            loading: 'Loading Test Server Offcanvas',
            static: true,
            close: true,
            reload: true,
            onLoad: function (modal, el) {
                
            }
        });
    </script>
}

